/* ==<reset>== */

/*==> box model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*==> quitar margen por defecto body */
body {
    margin: 0;
}

/*==> quitar padding/margin por defecto listas */
ul,
ol {
    margin: 0;
    padding: 0;
}

/*==> quitar subrayado y color azul por defecto */
a {
    text-decoration: none;
    color: inherit;
}
/*--> nota mental: hay que definir el subrayado y color del boton luego en layout.css */
